<div class="modal fade" id="addbatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog popup" role="document">
		<div class="popup-content">
			<div class="section-head">
				<h3><img src="/css/images/group.png" />Batch {{last_batch}}</h3>
			</div>
			<form role="form" class="no-padding">
				<h4 class="text-popup">Type emails to add people to “Batch {{last_batch}}” </h4>
				<div class="col-md-8">
				    <div class="form-group batch-students" ng-repeat="field in fields" ng-mouseenter="cancel=true" ng-mouseleave="cancel=false">
				      <input type="text" class="field-length studentimage" placeholder="Enter email address" ng-model="field.email" />
				      <img src="/css/images/delete.png" ng-show="cancel && fields.length > 3" ng-click="remove($index)" />
				    </div>
				    <div class="col-md-12 addstudent go-to-library" ng-click="add()">
						<img src="/css/images/plus.png" class="" />
					</div>
				</div>
			    <div class="clearfix col-md-12 pull-right">
				    <button class="" data-dismiss="modal" ng-click="addBatch()">Add</button>
			    </div>
			    <div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
