<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog popup" role="document">
		<div class="popup-content">
			<div class="section-head">
				<h3><img src="/css/images/profile-icon.png" />Add Artifact</h3>
			</div>
			<form role="form" class="task-suggest task-add1 each-task">
			    <div class="form-group">
			      <input type="text" class="form-control field-length" ng-model="name"  placeholder="Add Link">
			    </div>
			    <div class="pull-right">
				    <button class="" ng-click="getartifactname(artifactindex)" data-dismiss="modal" >Add</button>
			    </div>
			</form>
		</div>
	</div>
</div>