<div class="task-view-background">
	<center><h3>ADD NEW TASK</h3></center>
</div>
<form role="form" class="task-suggest task-add each-task">
    <div class="form-group">
      <input type="text" class="form-control field-length" placeholder="Task Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control field-length" placeholder="Enter Skills Required">
    </div>
    <div class="form-group">
     <textarea class="comment-length form-control"></textarea>
    </div>
    <div class="task-view-button">
   		<a href="#">Discard </a>
	    <button type="button" class="btn btn-primary task-assign" data-toggle="modal" data-target="#myModal">
		  <img src=" " class="glyphicon glyphicon-chevron-right"> Add
		</button>
		
	</div>
</form>