<div class="modal-header">
	<h3><img src="/css/images/garbage.png">Curriculum</h3>
</div>
<div class="section-head opacity">
	<h3 ng-repeat="x in curriculum track by $index" ng-class="{'active': x.active}" ng-click="showCurriculum($index)">{{x.month}}</h3>
</div>
<div class="tab-content">
	<table class="table table-striped" ng-repeat="x in curriculum" ng-if="x.active">
		<tbody>
			<tr ng-repeat="y in x.curriculum" >
				<td>{{y.time}}</td>
				<td>{{y.topic}}</td>
				<td>{{y.remarks}}</td>
			</tr>
		</tbody>
	</table>
</div>