<div class="mentor-review task-details-layout" ng-repeat="c in mentor_reviews.mentor_review">
	<div class="task-name">
		<h4><strong> {{c.project}}</strong></h4>
		<div></div>	
		<p class="mentee-last-used" >Created by {{c.created}}</p>
	</div>	
	<div class="score-card pull-right">
		<p>Avg.Score</p>
		<div class="score">
			<h2><strong> {{c.rating}}</strong></h2>
		</div>
		<p>Out of 5.0</p>
	</div>
	<div class="clearfix mentor-details">
		<img ng-src="{{c.image}}">
		<div class="mentor-review-time">
			<h4><strong> {{c.name}}</strong></h4>
			<div class="avg-review">
				<p>Avg. review</p>
				<div class="">
					<h2><strong>{{c.avg_review_time}}</strong></h2>
				</div>
				<p>Hours</p>
			</div>
			<div class="avg-response">
				<p>Avg. response</p>
				<div class="">
					<h2><strong>{{c.avg_response_time}}</strong></h2>
				</div>
				<p>Hours</p>
			</div>
		</div>
	</div>
</div>