<div class="task-details-layout">
	<div class="task-name">
		<h4><strong>{{x.project}}</strong></h4>
		<div></div>	
		<p class="mentee-last-used" >{{x.last_update}}</p>
	</div>	
	<div class="pull-right" ng-if="x.rating">
		<p>Peer Rating</p>
		<div class="peer-rating">
			<h2><strong> {{x.rating}}</strong></h2>
		</div>
	</div>
	<div class="clearfix">
		<div class="task-status">
			<div class="artifacts-full"  ng-repeat="y in x.artifacts">
				<span ng-if="y.status=='done'"><img  src="/css/images/tick.png"></span>
				<span ng-if="y.status=='done'">{{y.artifactname}}</span>
			</div>
		</div>
	</div>
	<div class="review-work">
		<div class="mentorname">
			<img src="/css/images/mentor.png">
			<span>Ramanujan Mada</span>
		</div>
		<span class="pull-right button-review">
			<a href="/projects/{{x.id}}">
				<button type="button" class="btn btn-primary review-button">
				  Review <img src=" " class=""> <span class=""></span>
				</button>
			</a>
		</span>
	</div>		
</div>