<div class="skills section left">
	<div class="skills-head section-head">
		<h3><img src="/css/images/folder.png" />Skills</h3>
	</div>
	<div class="skills-body">
		<div id="skillSetMap"></div>
	</div>
</div>