<div class="col-md-8 top-spacings">
	<div class="task-view" ng-app="x">
		<div class="task-view-background">
			<center><h3>{{x.title}}HIGHLAND CRUISE</h3></center>
		</div>
		<div class="task-view-content">
			<p><strong>Requirement</strong></p>
			<p class="task-view-sub-content">Highland cruise is a company that focuses on giving people the experience of travel by ship. they offer trips between mumbai, Chennai, Thailand, Singapore. Customers can book one way trips, round trips and even a cruise where the ship will take them to different cities and allow them to visit the city for day</p>							
			<p><strong>Instructions</strong></p>
			<ul class="task-view-sub-content">
				<li>Design using 960 Grids.</li>
				<li>Provide detailed information on the products and services you are selling on your transactional website.</li>
				<li>Choose your own color pallette</li>
				<li>Go through the full process that you have learnt yet.</li>
				<li>Provide timelines before starting the task.</li>
			</ul>
			<p><strong>Tested Skills</strong></p>
			<ul class="task-view-sub-content">
				<li>Process learnt till now.</li>
				<li>Presentation.</li>
				<li>communication</li>
				<li>Interaction.</li>
			</ul>
			<p><strong>Tools</strong></p>
			<ul class="task-view-sub-content">
				<li>UX pin.</li>
				<li>Google Drive.</li>						
			</ul>
			<p><strong>Attachments</strong></p>
			<img src="">
			<div class="task-view-action">
				<input type="button" class="btn btn-primary task-assign insert-button" value="INSERT"/>
			</div>
		</div>
	</div>
</div>