<div class="mentee">
	<img ng-src="{{extendtimelines.image}}">
	<div class="mentee-details">
		<h3>{{extendtimelines.name}}</h3>
		<p>{{extendtimelines.status}}</p>
	</div>
</div>
<div class="reasons-extend col-md-6">
	<div class="col-md-12 task-details">
		<div class="task-details-list col-md-4">
			<p>Deadline</p>
			<p><strong>{{extendtimelines.deadline}}</strong></p>
		</div>
		<div class="task-details-list col-md-4">
			<p>Extension</p>
			<p><strong>{{extendtimelines.extension}}</strong></p>
		</div>
	</div>
	<div class="col-md-12 task-details">
		<div class="task-details-list col-md-4">
			<p>Initial no. of working days:</p>
			<p><strong>{{extendtimelines.initialworkingdays}}</strong></p>
		</div>
		<div class="task-details-list col-md-4">
			<p>Extended no. of working days:</p>
			<p><strong>{{extendtimelines.extend}}</strong></p>
		</div>
	</div>
	<div >
		<div class="col-md-12 task-details">
			<p>Why do you need extension?</p>
			<p class="reason-extenson">{{extendtimelines.whyextension}}</p>
		</div>
		<div class="col-md-12 task-details">
			<p>What went wrong?</p>
			<p class="reason-extenson">{{extendtimelines.whywrong}}</p>
		</div>
		<div class="col-md-12 task-details">
			<p>How can you fix it?</p>
			<p class="reason-extenson">{{extendtimelines.howyoufix}}</p>
		</div>
		<div class="col-md-12 task-details">
			<p>How sure are you to fix it?</p>
			<p class="reason-extenson">{{extendtimelines.sure}}</p>
		</div>
		<div class="col-md-12 task-details">
			<p>How do you want us to help?</p>
			<p class="reason-extenson">{{extendtimelines.help}}</p>
		</div>
	</div>
</div>


