<!doctype html>
<html>
<head>
	<title>Error</title>
	<%- include('partials/css_includes') %>
</head>
<body>
	<div class="container">
		<h2>Error Page</h2>
		<p><%= message %></p>
	</div>
</body>
</html>